<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
</head>
<body>
    <h1>DOJO Wall</h1>
    <h2>Welcome {{authenticated_user.first_name}}</h2>
    <a href="/logout">LOGOUT</a>

    <form action="messages/new" method="post">
        {%csrf_token%}
        <h3>Post a messge</h3>
        <textarea name="message_content" id="mc" cols="150" rows="6">type your message here...</textarea>
        <input type="submit" value="POST Message">
    </form>
    
    {% for message in messages_list%}
    <div>
        <h4>{{message.user_who_posted.first_name}} {{message.user_who_posted.last_name}} - {{message.created_at}}</h4>
        <p>{{message.content}}</p>

        <ul>
            
            {%for comment in message.comments.all%}
            
                <li>
                    <p>{{comment.user_who_commented.first_name}} {{comment.user_who_commented.last_name}} - {{comment.created_at}}</p>
                    <p>{{comment.content}}</p>
                    {%if authenticated_user.id == comment.user_who_commented.id%}
                    <form action="delete_comment" method="post"> 
                        {%csrf_token%}
                        <input type="hidden" name='comment_id_to_delete'value={{comment.id}} >
                        <input type="submit" value="DELETE">
                    </form>
                    {%endif%}
                </li>
            
            {%endfor%}
        
            <li>
                <form action="comments/new" method="POST">
                    {%csrf_token%}
                    <p>Post a comment</p>
                    <textarea name="comment_content" cols="130" rows="3"></textarea> 
                    <input type="hidden" name="parent_id" value={{message.id}}>
                    <input type="submit" value="POST">
                </form>
            </li>
        </ul>


    </div>
{%endfor%}

</body>
</html>